function Main.main 3
push constant 6
call String.new 1
push constant 104
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 103
call String.appendChar 2
push constant 104
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 58
call String.appendChar 2
call Keyboard.readInt 1
pop local 0
push constant 7
call String.new 1
push constant 119
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 103
call String.appendChar 2
push constant 104
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 58
call String.appendChar 2
call Keyboard.readInt 1
pop local 1
push local 1
push local 0
push local 0
call Math.multiply 2
push constant 10000
call Math.divide 2
call Math.divide 2
pop local 2
push local 2
call Output.printInt 1
pop temp 0
call Output.println 0
pop temp 0
push constant 0
return
